ul,a{
	text-decoration:none !important;
	margin:0;
	font-weight: 500;
}
h1,h2,h3,h4,h5,h6{
	color:#2a363f;
}
a:hover{
	color:#FFF;
}
body{
	font-family: 14px 'Open Sans', sans-serif;
	color:#727272;
}
p{
	font-size:16px;
}
.nomargin{
	margin:0 !important;
}
#main{
	overflow:hidden;
	position:relative;
}
#header .top_header{
	background:#2a363f;
	position:relative;
	color:#FFF;
}
#header .social_links{
	padding:11px 0px 11px 0px;
}
#header .social_links li{
	background: #6a7379;
	font-size: 13px;
	width: 22px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
	border-radius: 100%;
	margin-right: 3px;
}
#header .social_links li a{
	text-align: center;
	color:#dadcdd;
}
#header .top_nav{
	float:right;
	font-weight:500;
	overflow:visible;
}
#header .top_nav li a{
	display: block;
	line-height: 45px;
	padding: 0 15px;
	color: #fff;
	text-transform: uppercase;
}
#header .top_nav li a i{
	margin-right:10px;
}
#header .top_nav li{
	padding:0;
}
#header .top_nav li.support a{
	background:#40bb9f;
	padding:0 15px 0 15px;
	text-shadow:-1px -1px 1px #27997e; 
}
#header .main_header{
	overflow:visible;
}
.logo{
	overflow: hidden;
	display: block;
	height: 60px;
	margin-top: 10px;
	padding-top:0;
}
.navbar-nav > li > a{
	padding-top:30px;
	padding-bottom:30px;
	font-size:16px;
	color:#6a6a6a;
	font-weight:bold;
	text-transform:uppercase;
}
/** HERO SLIDE **/
.hero_bg{
	position: relative;
	min-height:400px;
	width:100% !important;
	overflow:hidden;
}
.vline{
	width: 1px;
	height: 70px;
	background: #86c724;
	border-left: 1px solid #86c724;
	position: absolute;
	visibility: visible;
	left: 748px;
	top: 0px;
	z-index: 8;
}
.teaser{
	z-index: 9;
	white-space: nowrap;
	font-size: 17px;
	line-height: 24px;
	font-weight: 500;
	background: #3fc35f;
	color: rgb(255, 255, 255);
	font-family: "Roboto", sans-serif;
	padding: 19px 15px;
	border-color: rgb(255, 255, 255);
	visibility: inherit;
	transition: none 0s ease 0s;
	border-width: 0px;
	margin: 0px;
	letter-spacing: 0px;
	opacity: 1;
	transform: matrix3d(0.999848, -0.0174524, 0, 0, 0.0174524, 0.999848, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform-origin: 90% 50% 0px;
	width:auto;
	position:absolute;
	left:700px;
	top:70px;
}

.teaser strong{
	transition: none 0s ease 0s;
	line-height: 31px;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	letter-spacing: 0px;
	font-weight: 800;
	font-size:20px;
}
.teaser span{
	display:block;
	font-size:14px;
	font-weight:500;
}
.index_bg{
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-image: url("../img/index.jpg");
	background-size: cover;
	background-position: center top;
	min-height:480px;
	opacity: 1;
	visibility: inherit;
	z-index: 20;
}
.index_bg h1{
	z-index: 5;
	white-space:nowrap;
	font-size: 28px;
	line-height: 33px;
	font-weight: 800;
	color: rgb(42, 54, 63);
	margin-top:100px;
	letter-spacing: 0px;
}
.index_bg h3{
	text-transform:uppercase;
	white-space: nowrap;
	font-size: 60px;
	line-height: 72px;
	font-weight: 800;
	color: rgb(42, 54, 63);
	margin: 0px;
	padding: 0px;
	letter-spacing: 1px;
}
.index_bg h3 span{
	color:#3fc35f;
}
.index_bg p{
	color:rgb(42, 54, 63);
	font-size:16px !important;
}
.index_bg a.action{
	color:#3fc35f;
}
#home_plans{
	margin:10px 0;
	overflow:hidden;
}
.home_plans{
	text-align:center;
	border-right:1px solid #D4D2D2;
	min-height:300px;
	padding-left:20px;
	padding-right:20px;
}
@media only screen and (max-width: 800px) {
  .home_plans {
    border-right: none;
  }
}
.home_plans h3.title{
	font-size: 21px;
	line-height: 28px;
	margin-bottom: 18px;
	margin-top:0;
}
.icon_inner{
	text-align: center;
	display: inline-block;
	border: 2px solid transparent;
	width: 4em;
	height: 4em;
	box-sizing: content-box;
	position: relative;
	max-width: 100% !important;
	line-height: 2.85em !important;
	border-radius: 50%;
	width: 5em !important;
	height: 5em !important;
	background-color: #6DAB3C;
}
.icon_inner i{
	color:#FFF;
	font-size: 2.15em;
	font-style: normal;
	line-height: 1 !important;
	font-size-adjust: none;
	font-stretch: normal;
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal;
	-webkit-font-language-override: normal;
	font-language-override: normal;
	-webkit-font-kerning: auto;
	font-kerning: auto;
	font-synthesis: weight style;
	font-variant: normal;
	text-rendering: auto;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.home_plans:last-child{
	border-right:0;
}
.shared_bg{
	background: #000 url("../img/shared.jpg") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
	background-size: 1600px auto;
	background-position: 70% 0% !important;
	min-height:500px;
}
.reseller_bg{
	background: #000 url("../img/reseller.jpg") no-repeat right 100%;
    background-position-x: 20%;
    background-position-y: 0%;
    background-size: auto auto;
	background-size: 1600px auto;
	background-position: 20% 100% !important;
	min-height:500px;
}
.vps_bg{
	padding: 20px 0px 90px 0px;
	background: url('../img/vps.jpg') no-repeat left top;
	background-size: auto auto;
	background-size: 1400px auto;
	min-height:500px;
}
.dedicated_bg{
	min-height:500px;
	padding:60px 0px 70px 0px;
	background: url('../img/dedicated.jpg') no-repeat left top;
	background-size: auto auto;
	background-size: 1400px auto;
}
.ssl_bg{
	min-height:400px;
	padding:0px 0px 70px 0px;
	background: url('../img/ssl.jpg') no-repeat left top;
	background-size: auto auto;
	background-size: 1400px auto;
	border-bottom:3px solid #CCC;
}
#domain h1{
	color:#FFF;
	font-weight:bold;
}
.domain_bg{
	background: #7ebb21 url(../img/domainbg.jpg) no-repeat 40% top;
    background-color: rgb(126, 187, 33);
    background-size: auto auto;
	background-size: cover;
	color:#FFF;
	padding:80px 0 0 0;
	text-align: center;
	border-bottom:4px solid #CCC;
}
.domain_lookup{
	font-family: 'Roboto', sans-serif;
	padding: 4px 0px 4px 20px;
	height: 55px;
	background: #fff;
	border: none;
	color: #727272;
	font-size: 16px;
	margin-right: 12px;
	margin-bottom:12px;
	width:100%;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.btn_big{
	width:100%;
	float:left;
	padding: 15px 25px 15px 25px;
	background-color: #86c724;
	border: 0px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.btn_banner{
	width:100%;
	padding: 10px 25px 10px 25px;
	background-color: #1c1c1e;
	border: 0px;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
	border-radius: 3px;
}
.hero_title{
	position:relative;
	margin:140px 0 20px 0;
	background: #FFF;
	font-size: 30px;
	padding: 25px;
	color: #1c1c1e;
	text-transform: uppercase;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
}
.hero_lead{
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	background: #282b2d;
	color: #FFF;
	font-weight: 300;
	padding: 10px 25px;
	display: inline-block;
	letter-spacing:2px;
	width: 100%;
	margin:0;
}
.hero_action{
	background: #3fc35f;
	color: #FFF;
	padding: 15px;
	border: 1px solid transparent;
	cursor: pointer;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 18px;
	transition: all 100ms linear;
	display: inline-block;
	border-radius: 0;
}
.hero_specs{
	background:#2a363f;
	padding:20px 0;
	color:#999;
}
.hero_specs p{
	font-size:13px;
}
.hero_specs h5{
	color:#FFF;
	font-weight:700;
}
.hero_specs i{
	font-size:40px;
	color:#FFF;
}
/** Plans Boxes **/
.box_shadow{
	margin-bottom:20px;
	background: #FFF;
	text-align: center;
	border-radius: 4px;
	text-transform: initial;
	color: #555;
	cursor: pointer;
	border: 1px solid #CCC;
	box-shadow: 0 3px #BAB1B1;
}
.box_shadow .box_shadow_desc{
	padding:20px;
	border-bottom:2px solid #CCC;
}
.box_shadow .box_shadow_desc .plan_name{
	font-size: 27px;
	line-height: 30px;
	margin:0 0 20px 0;
	font-style: normal;
}
.box_shadow .box_shadow_desc ul li{
	font-size:14px;
	border-bottom: 1px dotted #BAB1B1;
	padding: 5px 0;
	text-align: center;
}
.box_shadow .box_shadow_desc ul li span i.check{
	color:#3fc35f;
	display:inline-block;
}
.box_shadow .box_shadow_desc ul li span i{
	color:#e31837;
	display:inline-block;
}
#reseller .box_shadow .box_shadow_desc ul li{
	text-align:left;
}
#reseller .box_shadow .box_shadow_desc ul li span{
	float:right;
	display:block;
}
.box_shadow .box_shadow_desc ul li:last-child{
	border:none;
}
.box_shadow .price{
	padding:20px;
}
.box_shadow .price strong{
	color: #3fc35f;
	font-size: 24px;
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
}
.box_shadow .price strong i{
	color: #555;
	font-size: 24px;
	font-weight: 100;
	font-style: normal;
}
.box_shadow .price .current_price{
	text-align:center;
	display:block;
}
/** Cloud Background **/
#cloudbg{
	padding-top: 80px;
	padding-bottom: 30px;
	position: relative;
	min-height: 70px;
	background: url("../img/cloudbg.png") repeat-x;
}
#cloudbg .gadgets_title{
	font-size: 30px;
	font-weight: 300;
	text-transform: initial;
	margin: 30px 0;
}
/** Included Gadgets **/
#include_gadgets .gadget_item{
	position:relative;
	text-align:center;
	margin-bottom:30px;
}
#include_gadgets .gadget_item img{
	width: 56px;
	height: 56px;
}
#include_gadgets .gadget_item .gadget_title{
	font-size: 18px;
    color: #222;
    font-weight: 300;
    margin:10px 0 !important;
}
#include_gadgets .gadget_item .gadget_desc{
	line-height:28px;
	font-size:14px;
}
/** Green divider **/
#green_divider{
	background: #3fc35f url('../img/parallax_bg.png');
	width: 100%;
}
#green_divider h2{
	color:#FFF;
}
#green_divider a.action{
	background:#FFF !important;
	color:#555;
}
#green_divider p{
	position: relative;
	color: #FFF;
	line-height:28px;
	padding: 20px 0;
	text-align: justify;
	font-size:14px;
}
/** Blocks **/
.block{
	overflow:hidden;
	position:relative;
	padding:30px 0;
}
.block img{
	margin:0 auto;
	display:block;
	max-height:290px;
}
.block h2{
	font-size:28px;
	font-weight: 300;
	line-height:32px;
	margin: 20px 0;
	letter-spacing:0.5px;
}
.block p, .block li{
	font-size:15px;
	line-height:28px;
}
.gray{
	background:#EEE;
}
/**  FAQ **/
#faq .faq_block{
	position: relative;
	margin-top:15px;
}
#faq .faq_block h5{
	margin-bottom:0;
	position:relative;
}
/** Specs List **/
ul.specs{
	margin-top:10px;
}
ul.specs li{
	padding-bottom: 10px;
	border-bottom: 1px dashed #CCC;
	margin-bottom: 10px;
	display: block;
}
ul.specs li i{
	font-size: 16px;
	color: #3fc35f;
}
ul.specs li:last-child{
	border-bottom:none;
}
/** Footer hero **/
.footer_hero{
	padding: 120px 0px 140px 0px;
	background: #f3f3f3 url('../img/site-img179.jpg') no-repeat center top;
}
/** Partners Logos **/
#partner li img{
	margin:10px;
	height:80px;
	width:150px;
}
/** Testemonial **/
#testimonial{
	position:relative;
	overflow:hidden;
}
#testimonial .carousel-inner img{
	border-radius:50%;
}
h2.capital_lead{
	font-weight: 900;
	text-transform:uppercase;
	font-size: 30px;
	line-height:35px;
}
#testimonial .carousel-caption{
	position:relative;
	left:0 !important;
	right:0 !important;
}
#testimonial .carousel-caption p{
	text-align:center;
	color:#2a363f !important;
	text-shadow:none;
}
.item-bg{
	width: 100%;
	text-align: center;
	background: url("../img/h-lines.png") no-repeat center 48px;
}
#footer{
	position:relative;
	color:#aaa;
}
#footer .top_footer{
	width: 100%;
	height: 130px;
	background: #fff url('../img/footer-img1.png') no-repeat center top;
    background-size: auto auto;
	background-size: 1920px 130px;
}
.support_phone{
	position:relative;
	margin-top:40px;
}
.block_level{
	width:100% !important;
	display:block;
}
.newsletter{
	margin-top:50px;
	color:#FFF;
}
.newsletter p{
	font-size:13px !important;
}
.bottom_footer{
	width: 100%;
	padding:25px 0;
	background: #2a363f url("../img/footer-bg-graph.png") no-repeat center bottom;
}
#footer h4{
	color:#fff;
	font-weight: 700;
}
#footer a{
	color:#aaa;
}
#footer p.info{
	position:relative;
	text-align:right !important;
}

